<table class="table table-sm">
	<thead>
		<tr>
			<th>Shipto</th>
			<th>Amount</th>
		</tr>
	</thead>
	<tbody>
		{% for shiptobooking in shiptobookings %}
		<tr>
			<td>
				<a href="{{ page.get_bookings_customerURL(shiptobooking.custid, shiptobooking.shiptoid) }}" class="link">
					{{ shiptobooking.shipto.name ? shiptobooking.shipto.name : 'None' }} ({{ shiptobooking.shiptoid }})
				</a>
			</td>
			<td>$ {{ shiptobooking.amount|currency }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
